
body {
  font-family: 'Orbitron', sans-serif;
}

.Timer p {
  display: inline-block;
  text-align: center;
}

.Timer input {
  width: 80px;
}

select {
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   -webkit-appearance: none;
   margin: 10px;
   width: 140px;
   height: 34px;
   background: radial-gradient(ellipse at bottom, #8c8c8c -20%,  #1B2735 80%);
   color: #cc0000;
   border: 1px solid #b30000;
   text-align-last:center;
}

select:hover {
  cursor: pointer;
}

option {
  text-align: center;
  margin: auto;
  position: relative;
}

.Stopwatch {
  margin-top: 5px;
}

button {
  margin: 10px;
  padding: 10px;
  width: 100px;
  background: radial-gradient(ellipse at bottom, #8c8c8c -20%,  #1B2735 80%);
  border: 1px solid #b30000;
  color: white;
}

button:focus {
  outline:0;
}

button:hover {
  cursor: pointer;
}

#StopwatchOutput, #TimerOutput {

  width: 500px;
  height: 150px;
  margin-top: 0px;
  text-align: center;
  vertical-align: middle;
  line-height: 150px; 
  background: #000000;  
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 45px;
  color: white;
}

#TimerOutput {
  margin-top: 50px;
}

#red {
  color: red;
  font-size: 16px;
  margin-right: 250px;
  width: 100px;
  position: fixed;
}

#StopwatchInputs, #TimerInputs {
  width: 500px;
  text-align: center;
  vertical-align: middle;
  height: 100px;
}

.Stopwatch, .Timer {
  border: 4px solid #b30000;
  width: 510px;
  background: #000000;  
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #b30000;
  padding-right: 0px;
}